{% extends 'blog/base.html' %}

{% block content %}
    <form method="get">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Search</span>
          <input type="text" class="form-control" placeholder="search..."
                 value="{{ search }}"
                 name="search"
                 aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </form>


    <table class="table table-hover">
        <tr>
            <th>Дата</th>
            <th>Заголовок</th>
            <th>Текст</th>
        </tr>
    {% for post in posts %}
        <tr onclick="window.location = '/post/{{ post.id }}'" style="cursor: pointer">
            <td>{{ post.created_date }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.text|linebreaksbr }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
